  <h2>Create Account</h2>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <br>
  <div class="form-group">
    <p>Profile Photo</p>
    <%= f.file_field :photo, direct_upload: true, class: 'btn-primary'%>
  </div>

  <div class="form-group">
    <p>Cover Photo</p>
    <%= f.file_field :cover_image, direct_upload: true, class: 'btn-primary' %>
  </div>

  <div class="form-group">
    <br>
    <%= f.text_field :username, placeholder: "Username", class: "signin-input" %>
  </div>

  <div class="form-group">
    <br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "signin-input" %>
  </div>

  <div class="form-group">
    <br>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "signin-input" %>
  </div>

  <div class=" form-group">
    <br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "signin-input" %>
  </div>

  <div class="actions">
    <br>
    <%= f.submit "Sign up", :class => 'twitter-color text-dark border-login-btn signin-input' %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>


