<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                 <%= f.text_field :username,  placeholder: "Username", class: "login-input form-control" %>
                            </div>
                            <div class="form-group">
                                 <%= f.text_field :email, autofocus: true, autocomplete: "Email" ,placeholder: "email", class: "login-input form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.password_field :password, autocomplete: "current-password" , placeholder: "Password", class: "login-input form-control"%>
                            </div>
                            <div class="form-group">
                                <%= f.submit "Log In",  :class => 'btn btn-primary' %>
                                
                            </div>
                            <div id="register-link" class="text-right">
                               
                            </div>
                        </form>
                    </div>
                    <% end %>
                      <span class="mt-5">Create An Account</span><br><br>
                      <%= link_to "Sign up", new_user_registration_path, class: "Sign-in text-white t-color" %><br><br>
                      <%= link_to "Log in", new_user_session_path, class: "Sign-in bg-white text-dark border border-dark" %>
                    <div class="d-flex justify-content-center mt-3">
                      <%= render "devise/shared/links" %>
                  </div>
                </div>
            </div>
        </div>
    </div>
